<!DOCTYPE html>
<html lang="ru">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
        <div class="container">
            <h2 class="cards_head">Книги в библиотеке:</h2>
            <div class="cards_container">
                {% for book in books_list %}
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ book.image.url }}" alt="" width="200" height="150">
                        </div>
                        <div class="card_desc">
                            <h3>{{ book.title }}</h3>
                            <p class="desc">{{ book.description|truncatechars:100 }}</p>
                            <p class="price">{{ book.price }} руб.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock content %}
    
</body>
</html>